.container {
    width: 100%;
    // padding-left: 72px;
    // padding-right: 72px;
}

.btn-primary {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 4px;
    border: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 10px;
    height: 40px;
    width: 200px;
    float: right;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover{
    background: #54426B; 
    color: #fff;
}

/* .table > thead > tr > th {
    border-bottom: 1px solid #EAEAEA;
}

.table > thead > tr > th.info {
    background: #FFF;
} */

.modal-title {
    font-family: inherit;
    font-size: 24px;
    color: #4E4E4E;
    letter-spacing: 0.28px;
    line-height: 28px;
    padding-top: 15px;
}
.modal-intro {
    font-family: inherit;
    font-size: 14px;
    color: #545454;
    line-height: 20px;
    padding-top: 15px;

}
.modal-header{
    background: #F4F4F4;
    border-radius: 5px;
    border-bottom: 1px solid #F4F4F4;
}
.modal-body{
    background: #F4F4F4;
    border-radius: 5px;
}
.modal-footer{
    background: #F4F4F4;
    border-radius: 5px;
    border-top: 1px solid #f4f4f4
}
.form-control{
    color: #393939;
    height: 42px;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075); 
    border-radius: 4px;
    resize: none;
}
label {
    color: #545454;
}
.modal-content{
    margin-top: 15%;
    margin-bottom: 15%;
    box-shadow: 0 0px 0px;
    border: 0px;
}
.btn-default {
    color: #e56438;
    background-color: #ffffff;
    border-color: #e56438;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}
.btn-default:hover {
    color: #54426B;
    background-color: #ffffff;
    border-color: #54426B;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}
.btn-danger{
    color: #ffffff;
    background-color: #e56438;
    border-color: #e56438;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}
.btn-danger:focus{
    background-color: #4D21A8;
    border-color: #4D21A8;
}
.btn-success {
    color: #ffffff;
    background-color: #e56438;
    border-color: #e56438;
    border-radius: 4px;
    width: 140px;
    height: 40px;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #54426B;
    border-color: #fff;
    border-radius: 4px;
    width: 140px;
    height: 40px;
}

.btn-success:focus{
    background-color: #4D21A8;
    border-color: #4D21A8;
}
.btn-default:focus{
    background-color: #fff;
    border-color: #4d21a8;  
    color: #4d21a8;      
}

/* .participant-title{
    font-family: inherit;
    font-size: 24px;
    color: #4E4E4E;
    letter-spacing: 0.28px;
    line-height: 28px;
} */

.info{
    font-family: inherit;
    font-size: 14px;
    color: #343C41;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: left;
}
.info-actions{
    font-family: inherit;
    font-size: 14px;
    color: #343C41;
    letter-spacing: 0.2px;
    line-height: 24px;
    padding-left: 24px;
}

.plus-svg{
    color: #fff;
    fill: currentColor;
}

/***.participant-properties:hover, .participant-properties:hover span{  
overflow: visible;
position: relative;
 make readable design 
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
padding: 3px;
/* compensate padding and border size to avoid jerking 
margin-left: -4px;
}
***/

/* body {
    background-color: lighten(#398B93, 30%);
    * { box-sizing: border-box; }
 } */
 
.headers {
    background-color: rgb(45, 111, 117);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
 }

.table-users {
    //border: 1px solid darken(#398B93, 5%);
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    // max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    // width: 800px;
}

table {
    width: 100%;
    margin-bottom: 0px;

    td, th { 
       color: #398B93;
       padding: 10px; 
    }
    
    td {
       text-align: left;
       vertical-align: middle;
       
       &:last-child {
          font-size: 0.95em;
          line-height: 1.4;
          text-align: right;
       }
    }
    
    th { 
       background-color: lighten(#398B93, 50%);
       font-weight: 300;
    }
    
    tr {     
       &:nth-child(2n) { background-color: white; }
       &:nth-child(2n+1) { background-color: lighten(#398B93, 55%) }
    }
 }
 
  @media screen and (max-width: 756px) {   
    table, tr, td { display: block; }
 
    .info{
        text-align: center;
    }

    table {       
        td {
            text-align: center;
           &:last-child {
              text-align: center;
           }
        }
    }

    td {
       &:first-child {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100px;
       }
 
       &:not(:first-child) {
          clear: both;
          margin-left: 100px;
          padding: 4px 20px 4px 90px;
          position: relative;
          text-align: left;
 
          &:before {
             color: lighten(#398B93, 30%);
             content: '';
             display: block;
             left: 0;
             position: absolute;
          }
       }
 
       &:nth-child(2):before { content: 'Detalles:'; }
       &:nth-child(3):before { content: 'Valor:'; }
       &:nth-child(4):before { content: 'Cantidad:'; }
       &:nth-child(5):before { content: 'Estado:'; }
       &:nth-child(6):before { content: 'Banco:'; }
       &:nth-child(7):before { content: 'Poliza:'; }
       &:nth-child(8):before { content: 'Fecha Solicitud:'; }
       &:nth-child(9):before { content: 'Pago:'; }
       &:nth-child(10):before { content: 'Vigencia:'; }
       &:nth-child(11):before { content: 'Solicitante:'; }
       &:nth-child(12):before { content: 'Monto Asegurado:'; }
       &:nth-child(13):before { content: 'Aseguradora:'; }
       &:nth-child(14):before { content: 'Reaseguradora:'; }
       &:nth-child(15):before { content: 'Propietario:'; }
       &:nth-child(16):before { content: ''; }
    }
    
    tr {
       padding: 10px 0;
       position: relative;
       align-content: center;
       &:first-child { display: none; }
    }
 } 
 
 @media screen and (max-width: 756px) {
    .header {
       background-color: transparent;
       color: lighten(#398B93, 60%);
       font-size: 2em;
       font-weight: 700;
       padding: 0;
       text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }


    .col-md-12{
        width: 60%;
        margin-left: 23%;
        margin-right: 20%;
        }

        .h1{
            text-align: center;
        }
        .asset-title{
            text-align: center;
        }
        .btn{
            text-align: center;
        }    
    
        .btn-primary {
            margin-top: 2%;
            text-align: center;
            width: 38%;
            margin-left: 31%;
            margin-right: 31%;
        }

        .navbar-nav{
            margin: 10px 0px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 39px;
        }
        
        .dropdown-toggle{
            border-radius: 25px 25px 25px 25px !important;
        }
/*     img {
       border: 3px solid;
       border-color: lighten(#398B93, 50%);
       height: 100px;
       margin: 0.5rem 0;
       width: 100px;
    } */
    
    td {
       &:first-child { 
          background-color: lighten(#398B93, 45%); 
          //border-bottom: 1px solid lighten(#398B93, 30%);
          border-radius: 10px 10px 0 0;
          position: relative;   
          top: 0;
          transform: translateY(0);
          width: 100%;
       }
       
       &:not(:first-child) {
          margin: 0;
          padding: 5px 1em;
          width: 100%;
          
          &:before {
             font-size: .8em;
             padding-top: 0.3em;
             position: relative;
          }
       }
       
       &:last-child  { padding-bottom: 1rem !important; }
    }
    
    tr {
       background-color: white !important;
       border: 1px solid lighten(#398B93, 20%);
       border-radius: 10px;
    //    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
       margin: 0.5rem 0;
       padding: 0;
    }
    
    .table-users { 
       border: none; 
       box-shadow: none;
       overflow: visible;
    }
 }